/* ----------------------------------------------- */

/* Gestione colori customizzabili */

/* ----------------------------------------------- */

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  /* background-color: #fff; */
  /* font-weight: 800 !important; */
  color: black;
}

.gv-color-scheme {
  background-color: #5B565C;
  color: #ddd;
}

.gv-inverted-color-scheme {
  color: black;
  background-color: #c9c8c8;
}

.gv-inverted-color-scheme-light {
  color: black;
  font-weight: 800;
}

#titolo {
  /* position: absolute; */
  left: 0px;
  bottom: 0px;
  height: 80px;
  /* width: 220px; */
  background: #CBCDCB;
  opacity: 0.9;
  padding: 10px;
}

#loghi_sx {
  float: left;
  margin: 0px;
  height: 70px;
  width: 270px;
}

/* ----------------------------------------------- */

/* Cluster */

/* ----------------------------------------------- */

.marker-cluster-2 {
  background-color: rgba(190, 24, 21, 0.6);
}
.marker-cluster-2 div {
  background-color: rgba(190, 24, 21, 0.6);
}
.marker-cluster-3 {
  background-color: rgba(188, 95, 7, 0.6);
}
.marker-cluster-3 div {
  background-color: rgba(188, 95, 7, 0.6);
}
.marker-cluster-5 {
  background-color: rgba(80, 23, 26, 0.6);
}
.marker-cluster-5 div {
  background-color: rgba(80, 23, 26, 0.6);
}
.marker-cluster-6 {
  background-color: rgba(59, 96, 41, 0.6);
}
.marker-cluster-6 div {
  background-color: rgba(59, 96, 41, 0.6);
}
.marker-cluster-7 {
  background-color: rgba(223, 78, 38, 0.6);
}
.marker-cluster-7 div {
  background-color: rgba(223, 78, 38, 0.6);
}
.marker-cluster-8 {
  background-color: rgba(232, 134, 92, 0.6);
}
.marker-cluster-8 div {
  background-color: rgba(232, 134, 92, 0.6);
}
.marker-cluster-9 {
  background-color: rgba(241, 200, 37, 0.6);
}
.marker-cluster-9 div {
  background-color: rgba(241, 200, 37, 0.6);
}

/* CLUSTER ITINERARI */
.marker-cluster-10709 {
  background-color: rgba(104, 36, 95, 0.6);
}
.marker-cluster-10709 div {
  background-color: rgba(104, 36, 95, 0.6);
}
.marker-cluster-10710 {
  background-color: rgba(104, 36, 95, 0.6);
}
.marker-cluster-10710 div {
  background-color: rgba(104, 36, 95, 0.6);
}
.marker-cluster-11221 {
  background-color: rgba(153, 167, 170, 0.6);
}
.marker-cluster-11221 div {
  background-color: rgba(153, 167, 170, 0.6);
}
.marker-cluster-11421 {
  background-color: rgba(69, 180, 183, 0.6);
}
.marker-cluster-11421 div {
  background-color: rgba(69, 180, 183, 0.6);
}
.marker-cluster-11461 {
  background-color: rgba(42, 100, 102, 0.6);
}
.marker-cluster-11461 div {
  background-color: rgba(42, 100, 102, 0.6);
}
.marker-cluster-11481 {
  background-color: rgba(193, 140, 77, 0.6);
}
.marker-cluster-11481 div {
  background-color: rgba(193, 140, 77, 0.6);
}
.marker-cluster-11801 {
  background-color: rgba(188, 70, 47, 0.6);
}
.marker-cluster-11801 div {
  background-color: rgba(188, 70, 47, 0.6);
}
.marker-cluster-11921 {
  background-color: rgba(178, 150, 34, 0.6);
}
.marker-cluster-11921 div {
  background-color: rgba(178, 150, 34, 0.6);
}
.marker-cluster-11981 {
  background-color: rgba(196, 99, 34, 0.6);
}
.marker-cluster-11981 div {
  background-color: rgba(196, 99, 34, 0.6);
}
.marker-cluster-12021 {
  background-color: rgba(87, 196, 146, 0.6);
}
.marker-cluster-12021 div {
  background-color: rgba(87, 196, 146, 0.6);
}
.marker-cluster-12321 {
  background-color: rgba(3, 42, 0, 0.6);
}
.marker-cluster-12321 div {
  background-color: rgba(3, 42, 0, 0.6);
}
.marker-cluster-13000 {
  background-color: rgba(255, 213, 39, 0.6);
}
.marker-cluster-13000 div {
  background-color: rgba(255, 213, 39, 0.6);
}
.marker-cluster-13001 {
  background-color: rgba(101, 94, 150, 0.6);
}
.marker-cluster-13001 div {
  background-color: rgba(101, 94, 150, 0.6);
}
.marker-cluster-13002 {
  background-color: rgba(43, 69, 216, 0.6);
}
.marker-cluster-13002 div {
  background-color: rgba(43, 69, 216, 0.6);
}




/* ----------------------------------------------- */

/* GV */

/* ----------------------------------------------- */

#loghi-fesr {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 220px;
  background: rgba(255, 255, 255, 0.7)
    url(/geoservices/apps/viewer/static/img/scuoladigitale/loghi-fondi-fesr-mini.png) no-repeat
    center;
  opacity: 1;
}

@media only screen and (min-width: 540px) {
  /* For desktop only: */
  #logo {
    position: relative;
    left: 0px;
    height: 32px;
    width: 240px;
    padding-left: 25px;
    /* margin-top: 18px; */
    z-index: 799;
    background: #fff url(/geoservices/apps/viewer/static/img/scuoladigitale/logo_scuola.png)
      no-repeat 10% 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@media only screen and (max-width: 500px) {
  .leaflet-container .leaflet-control-search {
    width: 178px;
  }

  .gv-search {
    width: 170px;
  }

  .el-select {
    width: 170px !important;
  }
}

.gv-search {
  height: 32px;
  width: 250px;
  z-index: 800;
  margin-top: -4px !important;
  background-color: #fff;
}

.el-select {
  width: 240px !important;
  margin-left: 5px;
  margin-top: 4px;
}

.gv-legend-layer-icon {
  width: 24px;
  height: 27px;
}

.gv-legend-close {
  background-color: #31708f !important;
  border: none;
}

.gv-list-legend-map-item {
  height: 0;
  padding: 0;
}

.gv-layer-visibility-span {
  position: absolute;
  top: 25%;
  left: 32px;
}

.el-button {
  background-color: #8D6795 !important ;
  color: #fff;
  font-weight: 800;
}

/* .el-button--info {
  color: black !important;
} */

/* .el-input__inner {
  color: black;
} */

.el-table thead {
  color: #e94e1b;
}

button:hover
{
  color: #000 !important;
}
