body {
  font-family: "Raleway", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
  position: static;
  background: #24386c;
}

.header {
  left: 0px;
  top: 0px;
  right: auto;
  margin: 0px;
  height: 53px;
  width: 100%;
  position: absolute;
  background: #24386c;
  /*url(http://dts-parodi_s/geoviewer2/static/img/geoportale/sfondo_header_short.png); */
}

.header p a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  top: 0px;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 45px;
}

.header p a:hover {
  color: #BDBE57;
}

#gv-container {
  position: absolute;
  top: 60px;
  height: 95%;
}

@media (pointer: coarse) {

  .header p a {
    line-height: 4px;
 }

  #gv-container {
    top: 32px;
  }

}
