/* ----------------------------------------------- */

/* Gestione colori customizzabili */

/* ----------------------------------------------- */

.gv-color-scheme {
  background-color: #31708f;
  color: #ccc;
}

.gv-inverted-color-scheme {
  color: #31708f;
  background-color: #ccc;
}

/* ----------------------------------------------- */

/* Cluster */

/* ----------------------------------------------- */

.cluster {
  text-align: center;
  font-size: 16px;
  color: white;
  background-repeat: no-repeat;
  background-size: 23px 31px;
  background-position: top center;
}

.cluster_cpi {
  background-image: url(/geoservices/apps/viewer/static/img/centri-impiego/legend/cluster/cpi_nq2.png);
}

/* ----------------------------------------------- */

/* GV */

/* ----------------------------------------------- */

#loghi {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 330px;
  background: rgba(255, 255, 255, 1)
    url(/geoservices/apps/viewer/static/img/centri-impiego/loghi.png) no-repeat center;
  opacity: 1;
}

/* For desktop only: */
#logo {
  position: relative;
  left: 0px;
  height: 94px;
  width: 232px;
  padding-left: 18px;
  z-index: 799;
  background: #c5d361
    url(/geoservices/apps/viewer/static/img/centri-impiego/logo-giovani-liguria-col.png) no-repeat
    10% 50%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.gv-color-scheme {
  background-color: #c5d361;
  color: rgb(61, 60, 60);
}

.gv-legend-footer {
  padding: 0rem 0rem;
}

.gv-search {
  height: 32px;
  width: 250px;
  z-index: 800;
  margin-top: -4px !important;
  background-color: #c5d361;
}

.el-select {
  width: 240px !important;
  margin-left: 5px;
  margin-top: 4px;
}

.gv-legend-layer-icon {
  width: 24px;
  height: 27px;
}

.gv-legend-close {
  background-color: #31708f !important;
  border: none;
}

.gv-list-legend-map-item {
  height: 0;
  padding: 0;
}

.gv-layer-visibility-span {
  position: absolute;
  top: 25%;
  left: 32px;
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

/* .leaflet-interactive {
	cursor: auto !important;
} */

.popup-nome {
  background-color: #277baa;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  width: 286px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  
}

.popup-bold {
  font-weight: 700;
}
.popup-indirizzo {
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.5715;
  display:inline-block;
  /* width: 380px; */
  font-weight: 300;
  /* margin-bottom: -10px; */
  color: #4f4f4f;
  font-family: "Titillium-Web",
    Geneva,
    Tahoma,
    sans-serif;
}

.popup-prenota {
  text-align: center;
  width: 286px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 20px;
}

.leaflet-popup-content-wrapper {
  border-radius: 2px !important;
  /* width: 400px; */
}

/* .leaflet-popup-content {
  autoPan: true
} */

.prenota-btn {
  background-color: #277baa;
  border: none;
  color: #fff !important;
  margin-top: 15px;
  font-weight: 700;
  height: 30px;
  border-radius: 2px;
  /* width:370px; */
  font-size: 14px;
  letter-spacing: normal;
  font-family: "Titillium-Web",
  Geneva,
  Tahoma,
  sans-serif;
  letter-spacing: normal;
  cursor: pointer;
  padding: 4px 15px;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 30px;
}

.v-align {
  vertical-align: middle;
}

@font-face {
  font-family: 'Titillium-Web';
  src: url('fonts/TitilliumWeb-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

