body {
  font-family: 'Raleway', Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
  position: static;
  background: #fff !important;
}

.leaflet-control-scale {
  background-color: #fff !important;
  margin-bottom: 25px !important;
}

/* #gv-map {
  width: 900px !important;
  height: 500px !important;
} */

#gv-print-legend {
  position: absolute;
  left: 20px;
  top: 20px;
}
